{$APP_DOMAIN} {
  encode zstd gzip

  handle /api/auth/* {
    reverse_proxy web:3000
  }

  handle /api/flash/* {
    reverse_proxy web:3000
  }

  handle /api/rfqs* {
    reverse_proxy api:4000
  }

  handle /api/users* {
    reverse_proxy api:4000
  }

  handle {
    reverse_proxy web:3000
  }
}

{$API_DOMAIN} {
  encode zstd gzip
  reverse_proxy api:4000
}
